<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Customers</h4>
            <h4>Customer Creation Date : {{customerDetails.creationTt | date:"dd/MM/YYYY"}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Customers Details</h4>
                                <p class="info"><span class="txt">Name</span> : &nbsp;&nbsp; {{customerDetails.firstName}}&nbsp;{{customerDetails.middleName}}&nbsp;{{customerDetails.lastName}}</p>
                                <p class="info"><span class="txt">Fathers/Husband Name</span> : &nbsp;&nbsp; {{customerDetails.fathersName}}</p>
                                <p class="info"><span class="txt">Permanent Address</span> : &nbsp;&nbsp; {{customerDetails.permanentAddress}}</p>
                                <p class="info"><span class="txt">Correspondence Address</span> : &nbsp;&nbsp; {{customerDetails.correspondenceAddress}}</p>
                                <p class="info"><span class="txt">City</span> : &nbsp;&nbsp; {{customerDetails.city}}</p>
                                <p class="info"><span class="txt">State</span> : &nbsp;&nbsp; {{customerDetails.state}}</p>
                                <p class="info"><span class="txt">Postal Code</span> : &nbsp;&nbsp; {{customerDetails.postalCode}}</p>
                                <p class="info"><span class="txt">Date Of Birth</span> : &nbsp;&nbsp; {{customerDetails.dateOfBirth | date: 'dd/MM/yyyy'}}</p>
                                <p class="info"><span class="txt">Email</span> : &nbsp;&nbsp; {{customerDetails.emailId}}</p>
                                <p class="info"><span class="txt">Phone Number</span> : &nbsp;&nbsp; {{customerDetails.mobileNumber}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink] ="['/customers/', customerDetails.id]">Update</button>
                <button class=" btn btn-fill btn-danger delete" type="submit" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>