<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Project Expenses</h4>
            <h4>Leads Creation Date :{{detailsprojectexpense.creationTt}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail" >
                                <h4 class="details">Details</h4>
                                <p class="info"><span class="txt">Name Of Project</span> :{{detailsprojectexpense.projectName}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Date of start</span> :{{detailsprojectexpense.dateOfStart | date: 'dd/MM/yyyy'}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Location</span> :{{detailsprojectexpense.location}} &nbsp;&nbsp; </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                    </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class=" card">
                    <div class=" card-body all-icons">
                        <div class=" font-icon-detail">
                            <h4 class="details">Expenses segment</h4>
                            <div class="row">
                               <div class="col-md">
                                   <h5 class="txt">
                                       Date
                                   </h5>
                               </div>
                               <div class="col-md">
                                <h5 class="txt">
                                    Amount
                                </h5>
                              </div>
                            <div class="col-md">
                                <h5 class="txt">
                                    mode of payment
                                </h5>
                            </div>
                            <div class="col-md">
                                <h5 class="txt">
                                    Purpose of Payment
                                </h5>
                            </div>
                            <div class="col-md">
                                <h5 class="txt">
                                    reference number
                                </h5>
                            </div>
                            </div>

                            <div *ngFor="let slotdetail of slotdetails" class="row">
                                <div class="col-md">
                                    <p id="p1">
                                        {{slotdetail.dateOfPayment | date: 'dd/MM/yyyy'}}
                                    </p>
                                </div>
                                <div class="col-md">
                                    <p id="p1">
                                        {{slotdetail.amount}}
                                    </p>
                                </div>
                                <div class="col-md">
                                    <p id="p1">
                                        {{slotdetail.modeOfPayment}}
                                    </p>
                                </div>
                                <div class="col-md">
                                    <p id="p1">
                                        {{slotdetail.purposeOfPayment}}
                                    </p>
                                </div>
                                <div class="col-md">
                                    <p id="p1">
                                        {{slotdetail.referenceNo}}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" card-footer">
        <button class=" btn btn-fill btn-danger" type="submit" [routerLink] ="['/projectexpenses/', detailsprojectexpense.id]">Update</button>
        <button class=" btn btn-fill btn-danger delete" (click)="plzconfirm()"type="submit">Delete</button>
    </div>
</div>