<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body all-icons">
                    <h4 class="all">ALL LAND OWNER</h4>
                    <div class="row">
                        <div class="col-md">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div _ngcontent-vmo-c121="" class="modal-header">
                                        <input _ngcontent-vmo-c121="" id="inlineFormInputGroup" placeholder="SEARCH" type="text" class="form-control" [(ngModel)]="search">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-fill btn-danger" routerLink='/add-lands' type="submit">Create</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 show" *ngFor="let land of alllands |filter:search" [routerLink]="['/details-lands/',land.id]">
                            <div class=" font-icon-detail">
                                <h3 class="name">Name: {{land.name}}</h3>
                                <p>Email : {{land.emailId}}</p>
                                <p>Phone No : {{land.mobileNumber}}</p>
                                <p>Date Of Birth : {{land.dateOfBirth}}</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>