<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://sstdevelopers.com/">
          SST Developer
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://sstdevelopers.com/about-us/">
          About Us
        </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" tim-icons icon-heart-2"> </i> by
      <a href="https://digitaldeta.com/" target="_blank"> DIGITALDETA </a>
      for a better web.
    </div>
  </div>
</footer>
