<div class=" content">
    <div class=" row">
        <div class=" col-md">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Mediator Form</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="mediatorForm">
                        <div class="container">
                            <div class="row info">
                                <h4 class="heading">Personal Information</h4>
                                <div class="col-12">
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Name </label>
                                                <input class=" form-control" formControlName="name"
                                                    placeholder="Enter Your Name" type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Father's/Husband's Name </label>
                                                <input class=" form-control" formControlName="fathersName"
                                                    placeholder="Enter Your Father's/Husband's Name" type="text"
                                                    value="" autocomplete="off" />
  
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Permanent Address </label>
                                                <input class=" form-control" formControlName="permanentAddress"
                                                    placeholder="Enter Your Permanent Address" type="text" value="" />
  
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> City </label>
                                                <input class=" form-control" formControlName="city" placeholder="City"
                                                    type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label> State </label>
                                                <input class=" form-control" formControlName="state"
                                                    placeholder="Country" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Postal Code </label>
                                                <input class=" form-control" formControlName="postalCode"
                                                    placeholder="ZIP Code" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Email address </label>
                                                <input class=" form-control" formControlName="emailId"
                                                    placeholder="Enter Your Email Address" type="text" value="" />
  
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1">Mobile Number </label>
                                                <input class=" form-control" formControlName="mobileNumber"
                                                    placeholder="Enter Your Mobile Number" type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Alternate Mobile Number </label>
                                                <input class=" form-control" formControlName="alternateMobileNumber"
                                                    placeholder="Enter Your Alternate Mobile Number" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=" card-footer">
                    <button class=" btn btn-fill btn-danger" *ngIf="!isUpdate" type="submit" (click)="saveMediator()" >Submit</button>
                    <button class=" btn btn-fill btn-danger" *ngIf="isUpdate" type="submit" (click)="plzconfirm()" >Update</button>
                    <button class=" btn btn-fill btn-danger back" routerLink="/all-mediator" type="submit">Back</button>
                </div>
            </div>
        </div>
    </div>
  </div>