.title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
}
.help-block {
    color: red;
}
.back {
    margin-left: 12px;
}
.heading {
  background: linear-gradient(
0deg
, #ec250d 0%, #fd5d93 100%);
  padding: 6px 35px;
  border-radius: 4px;
  margin-top: -20px;
  margin-left: 10px;
  color: white;
  font-weight: 500;

}
.info {
  border: 1px solid #777474;
  border-radius: 5px;
}
.container {
  margin-top: 10px;
}
.scheme {
  border: 1px solid #777474;
  border-radius: 5px;
  margin-top: 60px;
}
.sinfo {
  background: linear-gradient(
0deg
, #ec250d 0%, #fd5d93 100%);
  padding: 6px 35px;
  border-radius: 4px;
  margin-top: -20px;
  margin-left: 10px;
  color: white;
  font-weight: 500;
}

.example-margin {
  margin: 0 10px;
}
label{
  font-size: 16px;
    color: rgb(207, 205, 205);
}
input:text{
 border-color: white;

}
.form-control {
  border-color: #97989e !important;
}
