<div class=" content">
    <div class=" row">
        <div class=" col-md">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Customer Booking Form</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="bookingForm">
                        <div class="container">
                            <div class="row info">
                                <h4 class="heading">Personal Information</h4>
                                <div class="col-12">
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : bookingForm.get('firstName').errors && (bookingForm.get('firstName').touched || bookingForm.get('firstName').dirty)}">
                                                <label> First Name </label>
                                                <input class=" form-control" formControlName="firstName"
                                                    placeholder="First Name" type="text" value="" autocomplete="off" />
                                                <span class="help-block"
                                                    *ngIf="bookingForm.get('firstName').errors && (bookingForm.get('firstName').touched || bookingForm.get('firstName').dirty)">
                                                    <span *ngIf="bookingForm.get('firstName').errors.required">
                                                        *First Name Required
                                                    </span>
                                                    <span *ngIf="bookingForm.get('firstName').errors.pattern">
                                                        *Invalid First Name
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Middle Name </label>
                                                <input class=" form-control" formControlName="middleName"
                                                    placeholder="Middle Name" type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Last Name </label>
                                                <input class=" form-control" formControlName="lastName"
                                                    placeholder="Last Name" type="text" value="" autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Father's/Husband's Name </label>
                                                <input class=" form-control" formControlName="fathersName"
                                                    placeholder="Enter Your Father's/Husband's Name" type="text"
                                                    value="" autocomplete="off" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Permanent Address </label>
                                                <input class=" form-control" formControlName="permanentAddress"
                                                    placeholder="Enter Your Permanent Address" type="text" value="" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Correspondence Address </label>
                                                <input class=" form-control" formControlName="correspondenceAddress"
                                                    placeholder="Enter Your Correspondence Address" type="text"
                                                    value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> City </label>
                                                <input class=" form-control" formControlName="city" placeholder="City"
                                                    type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label> State </label>
                                                <input class=" form-control" formControlName="state"
                                                    placeholder="Country" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Postal Code </label>
                                                <input class=" form-control" formControlName="postalCode"
                                                    placeholder="ZIP Code" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Email address </label>
                                                <input class=" form-control" formControlName="emailId"
                                                    placeholder="Enter Your Email Address" type="text" value="" />

                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : bookingForm.get('mobileNumber').errors && (bookingForm.get('mobileNumber').touched || bookingForm.get('mobileNumber').dirty)}">
                                                <label for="exampleInputEmail1">Mobile Number </label>
                                                <input class=" form-control" formControlName="mobileNumber"
                                                    placeholder="Enter Your Mobile Number" type="text" />
                                                <span class="help-block"
                                                    *ngIf="bookingForm.get('mobileNumber').errors && (bookingForm.get('mobileNumber').touched || bookingForm.get('mobileNumber').dirty)">
                                                    <span *ngIf="bookingForm.get('mobileNumber').errors.required">
                                                        *Mobile Number Required
                                                    </span>
                                                    <span *ngIf="bookingForm.get('mobileNumber').errors.pattern">
                                                        *Invalid Mobile Number
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Alternate Mobile Number </label>
                                                <input class=" form-control" formControlName="alternateMobileNumber"
                                                    placeholder="Enter Your Alternate Mobile Number" type="text" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" row">
                                        <div class=" col-md pr-md-1">
                                            <div class=" form-group">
                                                <label> Date Of Birth (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="dateOfBirth"
                                                    placeholder="YYYY-MM-DD" type="date" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md pl-md-1">
                                            <div class=" form-group">
                                                <label> Occupation </label>
                                                <input class=" form-control" formControlName="occupation"
                                                    placeholder="Enter Your Occupation" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row scheme">
                                <h4 class="sinfo">Scheme Information</h4>
                                <div class="col-12">
                                    <div class="row">
                                        <div class=" col-md-6 pr-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Name Of The Scheme </label>
                                                <input class=" form-control" formControlName="schemeName"
                                                    placeholder="Enter Your Scheme" type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Reference </label>
                                                <input class=" form-control" formControlName="reference"
                                                    placeholder="Reference" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md pr-md-1">
                                            <div class=" form-group">
                                                <label> Option For Mode Of Payment </label>
                                            </div>
                                        </div>
                                        <div class=" col-md px-md-1">
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin" formControlName="outright">Outright
                                                </mat-checkbox>
                                            </section>
                                        </div>
                                        <div class=" col-md pl-md-1">
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin" formControlName="installment">
                                                    Installment</mat-checkbox>
                                            </section>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md pr-md">
                                            <div class=" form-group">
                                                <label> Corner Plot </label>
                                            </div>
                                        </div>
                                        <div class=" col-md px-md-1">
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin" formControlName="outright">Yes
                                                </mat-checkbox>
                                            </section>
                                        </div>
                                        <div class=" col-md pl-md-1">
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin" formControlName="installment">No
                                                </mat-checkbox>
                                            </section>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Total Cost Rs. </label>
                                                <input class=" form-control" formControlName="totalCostRS"
                                                    placeholder="Enter Your Total Cost" type="text" value="" />
                                            </div>
                                        </div>
                                        <!-- <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Advance Rs. </label>
                                                <input class=" form-control" formControlName="advanceRS"
                                                    placeholder="Enter Advance To Pay" type="email" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Monthly Scheme </label>
                                                <input class=" form-control" formControlName="monthlyScheme"
                                                    placeholder="Enter Your Monthly Scheme" type="text" />
                                            </div>
                                        </div> -->
                                    </div>


                                    <div class="container">

                                   
                                    <ng-container formArrayName="installmentsList">

                                        <div *ngFor="let _ of installmentsList.controls; index as i">
                                            <ng-container [formGroupName]="i">
                                                <div class="row">
                                                    <div class=" col-md pr-md-1">
                                                        <div class=" form-group">
                                                            <label> Date (YYYY-MM-DD) </label>
                                                            <input class=" form-control" formControlName="date"
                                                                placeholder="YYYY-MM-DD" type="text" value="" />
                                                        </div>
                                                    </div>
                                                    <div class=" col-md px-md-1">
                                                        <div class=" form-group">
                                                            <label for="exampleInputEmail1"> Amount </label>
                                                            <input class=" form-control" formControlName="amount"
                                                                placeholder="Amount" type="email" />
                                                        </div>
                                                    </div>
                                                    <div class=" col-md pl-md-1">
                                                        <div class=" form-group">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Mode of payment</mat-label>
                                                                <mat-select formControlName="modeOfPayment" >
                                                                    <mat-option value="UPI">UPI </mat-option>
                                                                    <mat-option value="CHEQUE">CHEQUE </mat-option>
                                                                    <mat-option value="NEFT">NEFT </mat-option>
                                                                    <mat-option value="UPI">UPI </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                    <div class=" col-md px-md-1">
                                                        <div class=" form-group">
                                                            <label for="exampleInputEmail1"> Reference No. </label>
                                                            <input class=" form-control" formControlName="chequeNo"
                                                                placeholder="Enter Payment Id" type="email" />
                                                        </div>
                                                    </div>


                                                    <div class="col-md ">
                                                        <div *ngIf="!isPatching" class=" form-group">
                                                            <i class="fas fa-minus" (click)="removeInstallmentGroup(i)"
                                                             id="minus"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>

                                    </ng-container>
                                </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <i class="fa fa-plus" (click)="addInstallmentGroup()"
                                                aria-hidden="true">&nbsp;&nbsp;<span class="slot">Payment Structure</span></i>
                                        </div>
                                    </div>



                                    <!-- <div formArrayName="installmentsArray">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="fa fa-plus" (click)="addInstallmentGroup()" aria-hidden="true"></i>
                                            </div>
                                        </div>

                                    </div> -->
                                    <!-- <div formArrayName="installmentsArray" class="row">
                                        <div class=" col-md pr-md-1">
                                            <div class=" form-group">
                                                <label> Date (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="date"
                                                placeholder="YYYY-MM-DD" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md px-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Amount </label>
                                                <input class=" form-control" formControlName="amount"
                                                    placeholder="Amount" type="email" />
                                            </div>
                                        </div>
                                        <div class=" col-md pl-md-1">
                                            <div class=" form-group">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Mode of payment</mat-label>
                                                    <mat-select [formControl]="modeOfPayment" name="distVal">
                                                        <mat-option *ngFor="let dist of dists" [value]="dist.viewValue">
                                                            {{dist.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class=" col-md ">
                                            <div class=" form-group">
                                                <i class="fas fa-minus" id="minus"></i>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="row">
                                        <div class="col-md-3">
                                            <i class="fa fa-plus" (click)="addInstallmentGroup()" aria-hidden="true"></i>
                                        </div>
                                    </div> -->
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Full Payment </label>
                                                <input class=" form-control" formControlName="fullPayment"
                                                    placeholder="Enter Your Full Payment" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Money Receipt Number </label>
                                                <input class=" form-control" formControlName="moneyReceiptNumber"
                                                    placeholder="Enter Your Money Receipt Number" type="email" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Plot Size </label>
                                                <input class=" form-control" formControlName="plotSize"
                                                    placeholder="Enter Your Plot Size" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-3 pr-md-1">
                                            <div class=" form-group">
                                                <label> Booking Date (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="bookingDate"
                                                    placeholder="YYYY-MM-DD" type="date" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-3 px-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Agreement Date (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="agreementDate"
                                                    placeholder="YYYY-MM-DD" type="date" />
                                            </div>
                                        </div>
                                        <div class=" col-md-3 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Introduced </label>
                                                <input class=" form-control" formControlName="introduced"
                                                    placeholder="Introduced" type="text" />

                                            </div>
                                        </div>
                                        <div class=" col-md-3 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Verified By </label>
                                                <input class=" form-control" formControlName="verifiedBy"
                                                    placeholder="Verified By" type="text" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=" card-footer">
                    <button class=" btn btn-fill btn-danger" *ngIf="!isUpdate" type="submit"
                        (click)="saveBooking()">Submit</button>
                    <button class=" btn btn-fill btn-danger" *ngIf="isUpdate" type="submit"
                        (click)="plzconfirm()">Update</button>
                    <button class=" btn btn-fill btn-danger back" routerLink="/all-booking" type="submit">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>