.title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
}
.help-block {
    color: red;
}
.back {
    margin-left: 12px;
}
.heading {
  background: linear-gradient(
0deg
, #ec250d 0%, #fd5d93 100%);
  padding: 6px 35px;
  border-radius: 4px;
  margin-top: -20px;
  margin-left: 10px;
  color: white;
  font-weight: 500;

}
.info {
  border: 1px solid #777474;
  border-radius: 5px;
}
.container {
  margin-top: 10px;
}
.scheme {
  border: 1px solid #777474;
  border-radius: 5px;
  margin-top: 60px;
}
.sinfo {
  background: linear-gradient(
0deg
, #ec250d 0%, #fd5d93 100%);
  padding: 6px 35px;
  border-radius: 4px;
  margin-top: -20px;
  margin-left: 10px;
  color: white;
  font-weight: 500;
}

.example-margin {
  margin: 0 10px;
}
label{
  font-size: 16px;
    color: rgb(207, 205, 205);
}
input:text{
 border-color: white;

}
.form-control {
  border-color: #97989e !important;
}
// .btn btn-fill btn-danger{
//   margin-top: 15px;
// }
.btn, .navbar .navbar-nav > a.btn{
  margin: 24px 1px;
  padding: 11px 29px;
}
.mat-form-field {
  display: block;
}  

::ng-deep.mat-form-field-flex {
  background-color: white !important;
  border: 1px solid rgba(29, 37, 59, 0.5) !important;
  border-radius: 6px;
  padding: 2px 12px 8px;
}

::ng-deep.mat-form-field-flex:hover {
  border-color: #e14eca !important;
}

::ng-deep.mat-form-field-flex:focus {
  border-color: #e14eca !important;
}

::ng-deep .mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-form-field-wrapper {
  font-size: 11px;
  margin-top: 20px;
}
.fa{
  background-color: #f23a43;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  margin-bottom: 25px;
}
.slot {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
#minus{
  background-color: #f23a43;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    padding: 14px 18px;
}
.fa:hover{
  cursor: pointer;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}
#minus:hover{
  cursor: pointer;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}


