<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Office Expenses</h4>
            <h4>Leads Creation Date :{{detailsofficeexpenses.creationTt}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Details</h4>
                                <p class="info"><span class="txt">Name Of Person</span> :{{detailsofficeexpenses.personName}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Amount</span> :{{detailsofficeexpenses.amount}}  &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Date of payment</span> : {{detailsofficeexpenses.dateOfPayment | date  : "dd-MM-yyyy" }} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Mode of payment</span> : {{detailsofficeexpenses.moodOfPayment}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Purpose Of Payment</span> : {{detailsofficeexpenses.purposeOfPayment}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Reference number</span> :{{detailsofficeexpenses.referenceNo}}  &nbsp;&nbsp; </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink]="['/officeexpenses/', detailsofficeexpenses.id]">Update</button>
                <button class=" btn btn-fill btn-danger delete" type="submit" (click)="plzconfirm()">Delete</button>
            </div>
            <!-- <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                    </div> -->
        </div>
    </div>
</div>