<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body all-icons">
                    <h4 class="all">ALL BOOKING</h4>
                    <div class="row">
                        <div class="col-md">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div _ngcontent-vmo-c121="" class="modal-header">
                                        <input _ngcontent-vmo-c121="" id="inlineFormInputGroup" placeholder="SEARCH" type="text" class="form-control" [(ngModel)]="search">
                                    </div>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 show" *ngFor="let booking of allbookings |filter:search" [routerLink]="['/details-booking/',booking.id]">
                            <div class=" font-icon-detail">
                                <h3 class="name">Name : {{booking.firstName}}</h3>
                                <p>Email : {{booking.emailId}}</p>
                                <p>Phone No : {{booking.mobileNumber}}</p>
                                <p>Booking Date : {{booking.bookingDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
