<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body all-icons">
                    <h4 class="all">ALL OFFICE EXPENSES</h4>
                    <div class="row">
                        <div class="col-md">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div _ngcontent-vmo-c121="" class="modal-header">
                                        <input _ngcontent-vmo-c121="" id="inlineFormInputGroup" placeholder="SEARCH" type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <button class=" btn btn-fill btn-danger" routerLink='/officeexpenses' type="submit">Create</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 show" *ngFor="let officeexpense of allofficeexpenses |filter:search" [routerLink]="['/details-officeexpense/',officeexpense.id]">
                            <div class=" font-icon-detail">
                                <h3 class="name">Name :{{officeexpense.personName}} </h3>
                                <p>Amount : {{officeexpense.amount}}</p>
                                <p>Mood of payment :{{officeexpense.moodOfPayment}}</p>
                                <p>Booking Date : {{officeexpense.purposeOfPayment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
