<div class=" content">
    <div class=" row">
        <div class=" col-md">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Project Expenses Form</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="projectexpensesForm">
                        <div class="container">
                            <div class="row info">
                                <!-- <h4 class="heading">Personal Information</h4> -->
                                <div class="col-12">
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Project Name </label>
                                                <input class=" form-control" formControlName="projectName"
                                                    placeholder="Project Name" type="text" value="" autocomplete="off" />
                                               
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Date of Start(YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="dateOfStart"
                                                    placeholder="YYYY-MM-DD" type="date" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Location </label>
                                                <input class=" form-control" formControlName="location"
                                                    placeholder="Location" type="text" value="" autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class=" row">
                                        <div class="container">
                                        <ng-container formArrayName="pexpenseslotslist">

                                            <div *ngFor="let _ of pexpenseslotslist.controls; index as i">
                                                <ng-container [formGroupName]="i">
                                                    <div class="row">
                                                        <div class=" col-md pr-md-1">
                                                            <div class=" form-group">
                                                                <label> Purpose Of Payment </label>
                                                                <input class=" form-control" formControlName="purposeOfPayment"
                                                                    placeholder="purpose Of Payment" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class=" col-md pr-md-1">
                                                            <div class=" form-group">
                                                                <label> Date (YYYY-MM-DD) </label>
                                                                <input class=" form-control" formControlName="dateOfPayment"
                                                                    placeholder="YYYY-MM-DD" type="date" value="" />
                                                            </div>
                                                        </div>
                                                        <div class=" col-md px-md-1">
                                                            <div class=" form-group">
                                                                <label for="exampleInputEmail1"> Amount </label>
                                                                <input class=" form-control" formControlName="amount"
                                                                    placeholder="Amount" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class=" col-md pl-md-1">
                                                            <div class=" form-group">
                                                                <mat-form-field appearance="fill">
                                                                    <mat-label>Mode of payment</mat-label>
                                                                    <mat-select formControlName="modeOfPayment" >
                                                                        <mat-option value="UPI">UPI </mat-option>
                                                                        <mat-option value="CHEQUE">CHEQUE </mat-option>
                                                                        <mat-option value="NEFT">NEFT </mat-option>
                                                                        <mat-option value="UPI">UPI </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
    
                                                            </div>
                                                        </div>
                                                        <div class=" col-md px-md-1">
                                                            <div class=" form-group">
                                                                <label for="exampleInputEmail1"> Reference No. </label>
                                                                <input class=" form-control" formControlName="referenceNo"
                                                                    placeholder="Enter Payment Id" type="text" />
                                                            </div>
                                                        </div>
    
    
                                                        <div class="col-md ">
                                                            <div *ngIf="!isPatching" class=" form-group">
                                                                <i class="fas fa-minus" (click)="removeInstallmentGroup(i)"
                                                                 id="minus"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
    
                                        </ng-container>
                                    
                                    
                                    
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="fa fa-plus" (click)="addInstallmentGroup()"
                                                    aria-hidden="true">&nbsp;&nbsp;<span class="slot">
                                                       Payment Structure</span></i>
                                            </div>
                                        </div>
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card-footer">

                            <button class=" btn btn-fill btn-danger"  type="submit"
                            *ngIf="!isUpdate" (click)="saveProjectExpenses()">Submit</button>
                            <button class=" btn btn-fill btn-danger" *ngIf="isUpdate" type="submit"
                                (click)="plzconfirm()">Update</button>
                            <button class=" btn btn-fill btn-danger back" routerLink="/all-projectexpenses" type="submit">Back</button>
                        </div>