<div class=" content">
    <div class=" row">
        <div class=" col-md">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Customer Form</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="customerForm">
                        <div class="container">
                            <div class="row info">
                                <h4 class="heading">Customers Information</h4>
                                <div class="col-12">
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : customerForm.get('firstName').errors && (customerForm.get('firstName').touched || customerForm.get('firstName').dirty)}">
                                                <label> First Name </label>
                                                <input class=" form-control" formControlName="firstName"
                                                    placeholder="First Name" type="text" value="" autocomplete="off" />
                                                <span class="help-block"
                                                    *ngIf="customerForm.get('firstName').errors && (customerForm.get('firstName').touched || customerForm.get('firstName').dirty)">
                                                    <span *ngIf="customerForm.get('firstName').errors.required">
                                                        *First Name Required
                                                    </span>
                                                    <span *ngIf="customerForm.get('firstName').errors.pattern">
                                                        *Invalid First Name
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Middle Name </label>
                                                <input class=" form-control" formControlName="middleName"
                                                    placeholder="Middle Name" type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : customerForm.get('lastName').errors && (customerForm.get('lastName').touched || customerForm.get('lastName').dirty)}">
                                                <label> Last Name </label>
                                                <input class=" form-control" formControlName="lastName"
                                                    placeholder="Last Name" type="text" value="" autocomplete="off" />
                                                <span class="help-block"
                                                    *ngIf="customerForm.get('lastName').errors && (customerForm.get('lastName').touched || customerForm.get('lastName').dirty)">
                                                    <span *ngIf="customerForm.get('lastName').errors.required">
                                                        *Last Name Required
                                                    </span>
                                                    <span *ngIf="customerForm.get('lastName').errors.pattern">
                                                        *Invalid Last Name
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Father's/Husband's Name </label>
                                                <input class=" form-control" formControlName="fathersName"
                                                    placeholder="Enter Your Father's/Husband's Name" type="text" value=""
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Permanent Address </label>
                                                <input class=" form-control" formControlName="permanentAddress"
                                                    placeholder="Enter Your Permanent Address" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Correspondence Address </label>
                                                <input class=" form-control" formControlName="correspondenceAddress"
                                                    placeholder="Enter Your Correspondence Address" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> City </label>
                                                <input class=" form-control" formControlName="city" placeholder="City" type="text"
                                                    value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label> State </label>
                                                <input class=" form-control" formControlName="state" placeholder="Country"
                                                    type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Postal Code </label>
                                                <input class=" form-control" formControlName="postalCode" placeholder="ZIP Code"
                                                    type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Email address </label>
                                                <input class=" form-control" formControlName="emailId"
                                                    placeholder="Enter Your Email Address" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : customerForm.get('mobileNumber').errors && (customerForm.get('mobileNumber').touched || customerForm.get('mobileNumber').dirty)}">
                                                <label for="exampleInputEmail1">Mobile Number </label>
                                                <input class=" form-control" formControlName="mobileNumber"
                                                    placeholder="Enter Your Mobile Number" type="text" />
                                                <span class="help-block"
                                                    *ngIf="customerForm.get('mobileNumber').errors && (customerForm.get('mobileNumber').touched || customerForm.get('mobileNumber').dirty)">
                                                    <span *ngIf="customerForm.get('mobileNumber').errors.required">
                                                        *Mobile Number Required
                                                    </span>
                                                    <span *ngIf="customerForm.get('mobileNumber').errors.pattern">
                                                        *Invalid Mobile Number
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Alternate Mobile Number </label>
                                                <input class=" form-control" formControlName="alternateMobileNumber"
                                                    placeholder="Enter Your Alternate Mobile Number" type="text" />
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Date Of Birth (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="dateOfBirth" placeholder="YYYY-MM-DD"
                                                    type="date" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Booking Date (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="dateOfBooking" placeholder="YYYY-MM-DD"
                                                    type="date" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=" card-footer">
                    <button class=" btn btn-fill btn-danger" *ngIf="!isUpdate" type="submit" (click)="saveCustomer()">Submit</button>
                    <button class=" btn btn-fill btn-danger" *ngIf="isUpdate" type="submit" (click)="plzconfirm()">Update</button>
                    <button class=" btn btn-fill btn-danger back" routerLink="/all-customers" type="submit">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>