<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Salary Expenses</h4>
            <h4>Leads Creation Date :{{detailssalaryexpenses.creationTt}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Details</h4>
                                <p class="info"><span class="txt">Name Of Project</span> :{{detailssalaryexpenses.personName}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Date</span> : &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Amount</span> :{{detailssalaryexpenses.amount}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Mode of payment</span> :{{detailssalaryexpenses.dateOfPayment | date  : "dd-MM-yyyy" }} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Purpose Of Payment</span> :{{detailssalaryexpenses.purposeOfPayment}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Reference number</span> :{{detailssalaryexpenses.referenceNo}} &nbsp;&nbsp; </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink] ="['/salaryexpenses/', detailssalaryexpenses.id]" >Update</button>
                <button class=" btn btn-fill btn-danger delete" type="submit" (click)="delete()">Delete</button>
            </div>
            <!-- <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                    </div> -->
        </div>
    </div>
</div>