<div class=" content">
  <div class=" row">
    <div class=" col-md">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Create User Profile</h5>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md">
                <div class=" form-group">
                  <label> User Name</label>
                  <input class=" form-control" placeholder="Enter User Name" type="text"
                    value="" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md">
                <div class=" form-group">
                  <label> Phone Number</label>
                  <input class=" form-control" placeholder="Enter Your Phone Number" type="text"
                    value="" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md">
                <div class=" form-group">
                  <label> Email address</label>
                  <input class=" form-control" placeholder="Enter Your Email address" type="text"
                    value="" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Password </label>
                  <input class=" form-control" placeholder="Password" type="text" value="Mike" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Confirm Password </label>
                  <input class=" form-control" placeholder="Confirm Password" type="text" value="Andrew" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md">
                <select class="form-control form-control-lg">
                  <option value="">Select Role</option>
                  <option value=1>Admin</option>
                  <option value=2>Manager</option>
                  <option value=3>Tele-Caller</option>
                  <option value=4>Staff</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>