<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body all-icons">
                    <h4 class="all">ALL SALARY EXPENSES</h4>
                    <div class="row">
                        <div class="col-md">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div _ngcontent-vmo-c121="" class="modal-header">
                                        <input _ngcontent-vmo-c121="" id="inlineFormInputGroup" placeholder="SEARCH" type="text" class="form-control" [(ngModel)]="search">
                                    </div>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <button class=" btn btn-fill btn-danger" routerLink='/salaryexpenses' type="submit">Create</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 show" *ngFor="let salaryexpense of allsalaryexpense |filter:search" [routerLink]="['/details-salaryexpenses/',salaryexpense.id]">
                            <div class=" font-icon-detail">
                                <h3 class="name">Name : {{salaryexpense.personName}}</h3>
                                <p>Amount: {{salaryexpense.amount}}</p>
                                <p> Mode of payment : {{salaryexpense.moodOfPayment}}</p>
                                <p> Purpose: {{salaryexpense.purposeOfPayment}}</p>
                                <p> Purpose: {{salaryexpense.id}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
