<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Leads</h4>
            <h4>Leads Creation Date : {{leadDetails.creationTt | date:"dd/MM/YYYY"}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Personal Details</h4>
                                <p class="info"><span class="txt">Name</span> : &nbsp;&nbsp; {{leadDetails.firstName}}</p>
                                <p class="info"><span class="txt">Phone Number</span> : &nbsp;&nbsp; {{leadDetails.PhoneNumber}}</p>
                                <p class="info"><span class="txt">Address</span> : &nbsp;&nbsp; {{leadDetails.address}}</p>
                                <p class="info"><span class="txt">City</span> : &nbsp;&nbsp; {{leadDetails.city}}</p>
                                <p class="info"><span class="txt">State</span> : &nbsp;&nbsp; {{leadDetails.state}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Leads Details</h4>
                                <p class="info"><span class="txt">Company Name</span> : &nbsp;&nbsp; {{leadDetails.companyName}}</p>
                                <p class="info"><span class="txt">Designation</span> : &nbsp;&nbsp; {{leadDetails.designation}}</p>
                                <p class="info"><span class="txt">Source</span> : &nbsp;&nbsp; {{leadDetails.source}}</p>
                                <p class="info"><span class="txt">Assign To</span> : &nbsp;&nbsp; {{leadDetails.assignTo}}</p>
                                <p class="info"><span class="txt">Lead Type</span> : &nbsp;&nbsp; {{leadDetails.leadType}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink] ="['/add-lead/', leadDetails.id]">Update</button>
                <button class=" btn btn-fill btn-danger delete" type="submit" (click)="delete()">Delete</button>
            </div>
            <!-- <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                    </div> -->
        </div>
    </div>
</div>