<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Brokers</h4>
            <h4>Broker Creation Date : {{brokerDetails.creationTt | date:"dd/MM/YYYY"}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Broker Details</h4>
                                <p class="info"><span class="txt">Name</span> : &nbsp;&nbsp; {{brokerDetails.name}}</p>
                                <p class="info"><span class="txt">Fathers/Husband Name</span> : &nbsp;&nbsp; {{brokerDetails.fathersName}}</p>
                                <p class="info"><span class="txt">Permanent Address</span> : &nbsp;&nbsp; {{brokerDetails.permanentAddress}}</p>
                                <p class="info"><span class="txt">City</span> : &nbsp;&nbsp; {{brokerDetails.city}}</p>
                                <p class="info"><span class="txt">State</span> : &nbsp;&nbsp; {{brokerDetails.state}}</p>
                                <p class="info"><span class="txt">Postal Code</span> : &nbsp;&nbsp; {{brokerDetails.postalCode}}</p>
                                <p class="info"><span class="txt">Email</span> : &nbsp;&nbsp; {{brokerDetails.emailId}}</p>
                                <p class="info"><span class="txt">Phone Number</span> : &nbsp;&nbsp; {{brokerDetails.mobileNumber}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink] ="['/add-user/', brokerDetails.id]">Update</button>
                <button class=" btn btn-fill btn-danger delete" type="submit" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>