.all {
    text-transform: uppercase;
}
// .card-footer {
//     background-color: #1e1e26;
// }
.btn {
    float: right;
}
.col-md-3 {
    cursor: pointer;
}
.font-icon-detail {
    background: linear-gradient(
0deg
, #ec250d 0%, #fd5d93 100%);
    border: none !important;
}
.font-icon-detail:hover {
    -webkit-box-shadow: 0px 3px 7px 3px rosybrown;
}
.font-icon-detail p {
    color: white !important;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

  .modal-header {
    padding: 0px;
  }
.form-control {
    border: none;
    border-color: transparent;
    color: black;
}
.modal-dialog {
    margin: 0px;
}
.all {
    font-size: 20px;
}
.name {
    color: white !important;
}