.title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
}
.back {
    margin-left: 12px;
}
.help-block {
    color: red;
}
.info {
    border: 1px solid #777474;
    border-radius: 5px;
}
.leadinfo {
    background: linear-gradient( 
0deg
 , #ec250d 0%, #fd5d93 100%);
    padding: 6px 35px;
    border-radius: 4px;
    margin-top: -20px;
    margin-left: 10px;
    width: auto;
    color: white;
    font-weight: 500;
}

.mat-form-field {
    display: block;
  }  

::ng-deep.mat-form-field-flex {
    background-color: white !important;
    border: 1px solid rgba(29, 37, 59, 0.5) !important;
    border-radius: 6px;
    padding: 2px 12px 8px;
}

::ng-deep.mat-form-field-flex:hover {
    border-color: #e14eca !important;
}

::ng-deep.mat-form-field-flex:focus {
    border-color: #e14eca !important;
}

::ng-deep .mat-form-field-underline {
    display: none !important;
}

::ng-deep .mat-form-field-wrapper {
    font-size: 11px;
    margin-top: 20px;
}


