<div class=" content">
    <div class=" row">
        <div class=" col-md">
            <div class=" card">
                <div class=" card-header">
                    <h5 class="title">Create Leads</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="leadForm">
                        <div class="container">
                            <div class="row info">
                                <h4 class="leadinfo">Leads Information</h4>
                                <div class="col-12">
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : leadForm.get('firstName').errors && (leadForm.get('firstName').touched || leadForm.get('firstName').dirty)}">
                                                <label> First Name </label>
                                                <input class=" form-control" formControlName="firstName" placeholder="First Name"
                                                    type="text" value="" autocomplete="off" />
                                                <span class="help-block"
                                                    *ngIf="leadForm.get('firstName').errors && (leadForm.get('firstName').touched || leadForm.get('firstName').dirty)">
                                                    <span *ngIf="leadForm.get('firstName').errors.required">
                                                        *First Name Required
                                                    </span>
                                                    <span *ngIf="leadForm.get('firstName').errors.pattern">
                                                        *Invalid First Name
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Middle Name </label>
                                                <input class=" form-control" formControlName="middleName" placeholder="Middle Name"
                                                    type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : leadForm.get('lastName').errors && (leadForm.get('lastName').touched || leadForm.get('lastName').dirty)}">
                                                <label> Last Name </label>
                                                <input class=" form-control" formControlName="lastName" placeholder="Last Name"
                                                    type="text" value="" autocomplete="off" />
                                                <span class="help-block"
                                                    *ngIf="leadForm.get('lastName').errors && (leadForm.get('lastName').touched || leadForm.get('lastName').dirty)">
                                                    <span *ngIf="leadForm.get('lastName').errors.required">
                                                        *Last Name Required
                                                    </span>
                                                    <span *ngIf="leadForm.get('lastName').errors.pattern">
                                                        *Last Name Invalid
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group"
                                                [ngClass]="{'has-error' : leadForm.get('PhoneNumber').errors && (leadForm.get('PhoneNumber').touched || leadForm.get('PhoneNumber').dirty)}">
                                                <label> Phone Number </label>
                                                <input class=" form-control" formControlName="PhoneNumber"
                                                    placeholder="Enter Your Phone Number" type="text" value="" autocomplete="off" />
                                                <span class="help-block"
                                                    *ngIf="leadForm.get('PhoneNumber').errors && (leadForm.get('PhoneNumber').touched || leadForm.get('PhoneNumber').dirty)">
                                                    <span *ngIf="leadForm.get('PhoneNumber').errors.required">
                                                        *Phone Number Required
                                                    </span>
                                                    <span *ngIf="leadForm.get('PhoneNumber').errors.pattern">
                                                        *Phone Number Invalid
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-group">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Select Lead Type</mat-label>
                                                    <mat-select [formControl]="leadType" name="leadType">
                                                        <mat-option *ngFor="let lead of leads" [value]="lead.value">
                                                            {{lead.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-3 pr-md-1">
                                            <div class=" form-group">
                                                <label> Address </label>
                                                <input class=" form-control" formControlName="address"
                                                    placeholder="Enter Your Address" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-3 px-md-1">
                                            <div class=" form-group">
                                                <label> City </label>
                                                <input class=" form-control" formControlName="city" placeholder="Enter Your City"
                                                    type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-3 px-md-1">
                                            <div class=" form-group">
                                                <label> State </label>
                                                <input class=" form-control" formControlName="state" placeholder="Enter Your State"
                                                    type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-3 pl-md-1">
                                            <div class=" form-group">
                                                <label> Pin Code </label>
                                                <input class=" form-control" formControlName="pinCode"
                                                    placeholder="Enter Your PIN Code" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-6 pr-md-1">
                                            <div class=" form-group">
                                                <label> Company Name </label>
                                                <input class=" form-control" formControlName="companyName"
                                                    placeholder="Enter Your Company Name" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Designation </label>
                                                <input class=" form-control" formControlName="designation"
                                                    placeholder="Enter Your Designation" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Source </label>
                                                <input class=" form-control" formControlName="source" placeholder="Source"
                                                    type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Assign To </label>
                                                <input class=" form-control" formControlName="assignTo" placeholder="Assign To"
                                                    type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Status </label>
                                                <input class=" form-control" formControlName="status" placeholder="Status"
                                                    type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=" card-footer">
                    <button class=" btn btn-fill btn-danger" *ngIf="!isUpdate" type="submit" (click)="saveLeads()">Submit</button>
                    <button class=" btn btn-fill btn-danger" *ngIf="isUpdate" type="submit" (click)="plzconfirm()">Update</button>
                    <button class=" btn btn-fill btn-danger back" routerLink="/all-lead" type="submit">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>