<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body all-icons">
                    <h4 class="all">ALL LEADS</h4>
                    <div class="row">
                        <div class="col-md">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div _ngcontent-vmo-c121="" class="modal-header">
                                        <input _ngcontent-vmo-c121="" id="inlineFormInputGroup" placeholder="SEARCH" type="text" class="form-control" [(ngModel)]="search">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-fill btn-danger" routerLink='/add-lead' type="submit">Create</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 show" *ngFor="let leads of allleads |filter:search" [routerLink]="['/details-lead/',leads.id]">
                            <div class=" font-icon-detail">
                                <h3 class="name">Name: {{leads.firstName}}</h3>
                                <p>Phone No. : {{leads.PhoneNumber}}</p>
                                <p>Lead Type : {{leads.leadType}}</p>
                                <p>Status : {{leads.status}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>