<div class=" content">
    <div class=" row">
        <div class=" col-md">
            <div class=" card">
                <div class=" card-header">
                    <h5 class="title">Land Owner Form</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="landForm">
                        <div class="container">
                            <div class="row info">
                                <h4 class="heading">Personal Information</h4>
                                <div class="col-12">
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Name </label>
                                                <input class=" form-control" formControlName="name" placeholder="Enter Your Full Name" type="text" value=""autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Father's/Husband's Name </label>
                                                <input class=" form-control" formControlName="fathersName" placeholder="Enter Your Father's/Husband's Name"type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4">
                                            <div class=" form-group">
                                                <label> Permanent Address </label>
                                                <input class=" form-control" formControlName="permanentAddress" placeholder="Enter Your Permanent Address" type="text"value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label> Postal Code </label>
                                                <input class=" form-control" formControlName="postalCode" placeholder="ZIP Code" type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Correspondence Address </label>
                                                <input class=" form-control" formControlName="correspondenceAddress" placeholder="Enter Your Correspondence Address"type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Email address </label>
                                                <input class=" form-control" formControlName="emailId" placeholder="Enter Your email Address" type="text"value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 px-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Phone Number </label>
                                                <input class=" form-control" formControlName="mobileNumber" placeholder="Enter Your Phone Number" type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Alternate Phone Number </label>
                                                <input class=" form-control" formControlName="alternateMobileNumber" placeholder="Enter Your Alternate Phone Number"type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Date Of Birth (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="dateOfBirth" placeholder="YYYY-MM-DD" type="date" value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Occupation </label>
                                                <input class=" form-control" formControlName="occupation" placeholder="Enter Your Occupation" type="text"
                                                    value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label> Area </label>
                                                <input class=" form-control" formControlName="area"  placeholder="area" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row land">
                                <h4 class="landinfo">Land Information</h4>
                                <div class="col-12">
                                    <div class="row">
                                        <div class=" col-md-6 pr-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Land Plot Number </label>
                                                <input class=" form-control" formControlName="landPlotNumber" placeholder="Enter Your Land Plot Number"
                                                    type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Khata Number </label>
                                                <input class=" form-control" formControlName="khataNumber" placeholder="Enter Your Khata Number" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group">
                                                <label> Land Total Cost </label>
                                                <input class=" form-control" formControlName="landTotalCost" placeholder="Land Total Cost" type="text" value=""
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Monthly Scheme </label>
                                                <input class=" form-control" formControlName="monthlyScheme" placeholder="Monthly Scheme" type="text" value=""
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                        <!-- <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Advance Rupees </label>
                                                <input class=" form-control" formControlName="advanceRupees" placeholder="Advance Rupees" type="text" value=""
                                                    autocomplete="off" />
                                            </div>
                                        </div> -->
                                    </div>
                                    <ng-container formArrayName="landinstallmentslist">

                                        <div *ngFor="let _ of landinstallmentslist.controls; index as i">
                                            <ng-container [formGroupName]="i">
                                                <div class="row">
                                                    <div class=" col-md pr-md-1">
                                                        <div class=" form-group">
                                                            <label> Date (YYYY-MM-DD) </label>
                                                            <input class=" form-control" formControlName="date"
                                                                placeholder="YYYY-MM-DD" type="date" value="" />
                                                        </div>
                                                    </div>
                                                    <div class=" col-md px-md-1">
                                                        <div class=" form-group">
                                                            <label for="exampleInputEmail1"> Amount </label>
                                                            <input class=" form-control" formControlName="amount"
                                                                placeholder="Amount" type="email" />
                                                        </div>
                                                    </div>
                                                    <div class=" col-md pl-md-1">
                                                        <div class=" form-group">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Mode of payment</mat-label>
                                                                <mat-select formControlName="modeOfPayment">
                                                                    <mat-option value="UPI">UPI </mat-option>
                                                                    <mat-option value="CHEQUE">CHEQUE </mat-option>
                                                                    <mat-option value="NEFT">NEFT </mat-option>
                                                                    <mat-option value="UPI">UPI </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                    <div class=" col-md px-md-1">
                                                        <div class=" form-group">
                                                            <label for="exampleInputEmail1"> Reference No. </label>
                                                            <input class=" form-control" formControlName="chequeNo"
                                                                placeholder="Enter Payment Id" type="email" />
                                                        </div>
                                                    </div>


                                                    <div class="col-md ">
                                                        <div *ngIf="!isPatching" class=" form-group">
                                                            <i class="fas fa-minus" (click)="removeInstallmentGroup(i)"
                                                                id="minus"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>

                                    </ng-container>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <i class="fa fa-plus" (click)="addInstallmentGroup()"
                                                aria-hidden="true">&nbsp;&nbsp;<span class="slot">Payment Structure</span></i>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-6 pr-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Booking Date (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="bookingDate" placeholder="YYYY-MM-DD" type="date" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Aggrement Date (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="agreementDate" placeholder="YYYY-MM-DD" type="date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-6 pr-md-1">
                                            <div class=" form-group">
                                                <label> Introduced </label>
                                                <input class=" form-control" formControlName="introduced" placeholder="Introduced By" type="text"value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Verify </label>
                                                <input class=" form-control" formControlName="verify" placeholder="Verify" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class="col-md">
                                            <div class="form-group">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Select District</mat-label>
                                                    <mat-select [formControl]="selectDistricts" name="distVal">
                                                        <mat-option *ngFor="let dist of dists" [value]="dist.viewValue">
                                                            {{dist.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Tahasil </label>
                                                <input class=" form-control" formControlName="selectTahasil" placeholder="Enter Your Tahasil" type="text" style="text-transform: uppercase;" />
                                            </div>
                                        </div>
                                        <div class=" col-md">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Village </label>
                                                <input class=" form-control" formControlName="selectVillage" placeholder="Enter Your Village" type="text" style="text-transform: uppercase;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-6 pr-md-1">
                                            <div class=" form-group">
                                                <label> RI Circle </label>
                                                <input class=" form-control" formControlName="riCircle" placeholder="Enter Your RI Circle" type="text"value="" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 pl-md-1">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Khatiyan Number </label>
                                                <input class=" form-control" formControlName="khatiyanNumber" placeholder="Enter Your Khatiyan Number" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row brokerinfo">
                                <h4 class="broker">Broker Information</h4>
                                <div class="col-12">
                                    <div class="row">
                                        <div class=" col-md-6 ">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Broker/Agent Name </label>
                                                <input class=" form-control" formControlName="brokerName" placeholder="*Broker Name" type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6 ">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Total Broker Commission </label>
                                                <input class=" form-control" formControlName="totalBrokerCommission" placeholder="Total Broker Commission" type="text" />
                                            </div>
                                        </div>
                                    </div>

                                    <ng-container formArrayName="brokerinstallmentslist">

                                        <div *ngFor="let _ of brokerinstallmentslist.controls; index as i">
                                            <ng-container [formGroupName]="i">
                                                <div class="row">
                                                    <div class=" col-md pr-md-1">
                                                        <div class=" form-group">
                                                            <label> Date (YYYY-MM-DD) </label>
                                                            <input class=" form-control" formControlName="date"
                                                                placeholder="YYYY-MM-DD" type="date" value="" />
                                                        </div>
                                                    </div>
                                                    <div class=" col-md px-md-1">
                                                        <div class=" form-group">
                                                            <label for="exampleInputEmail1"> Amount </label>
                                                            <input class=" form-control" formControlName="amount"
                                                                placeholder="Amount" type="email" />
                                                        </div>
                                                    </div>
                                                    <div class=" col-md pl-md-1">
                                                        <div class=" form-group">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Mode of payment</mat-label>
                                                                <mat-select formControlName="modeOfPayment">
                                                                    <mat-option value="UPI">UPI </mat-option>
                                                                    <mat-option value="CHEQUE">CHEQUE </mat-option>
                                                                    <mat-option value="NEFT">NEFT </mat-option>
                                                                    <mat-option value="UPI">UPI </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                    <div class=" col-md px-md-1">
                                                        <div class=" form-group">
                                                            <label for="exampleInputEmail1"> Reference No. </label>
                                                            <input class=" form-control" formControlName="chequeNo"
                                                                placeholder="Enter Payment Id" type="email" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md ">
                                                        <div *ngIf="!isPatching" class=" form-group">
                                                            <i class="fas fa-minus" (click)="removeBrokerGroup(i)"
                                                                id="minus"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>

                                    </ng-container>




                                    <div class="row">
                                        <div class="col-md-3">
                                            <i class="fa fa-plus" (click)="addCommisionGroup()"
                                                aria-hidden="true">&nbsp;&nbsp;<span class="slot">Commission
                                                    Slot</span></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=" col-md-6">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Due Amount </label>
                                                <input class=" form-control" formControlName="dueAmount" placeholder="dueAmount" type="text" />
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class=" form-group">
                                                <label for="exampleInputEmail1"> Due Date (YYYY-MM-DD) </label>
                                                <input class=" form-control" formControlName="dueDate" placeholder="YYYY-MM-DD" type="date" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=" card-footer">
                    <button class=" btn btn-fill btn-danger" *ngIf="!isUpdate" type="submit" (click)="saveLands()">Submit</button>
                    <button class=" btn btn-fill btn-danger" *ngIf="isUpdate" type="submit" (click)="plzconfirm()">Update</button>
                    <button class=" btn btn-fill btn-danger back" routerLink="/all-lands" type="submit">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
