.details {
    background: linear-gradient( 
0deg
 , #ec250d 0%, #fd5d93 100%);
    padding: 12px 5px;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}
.info {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.delete {
    margin-left: 12px;
}
.db {
    text-transform: uppercase;
    font-size: 20px;
}
.font-icon-detail {
    padding-top: 20px;
    border: none !important;
}
.card-footer {
    background-color: transparent;
}

.font-icon-detail p {
    color: black !important;
}
.txt {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px !important;
}
// .table{
//     width: fit-content;
// }
#p1{
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    color: rgb(150, 148, 148);
    font-weight: 400;

}