<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Booking</h4>
            <h4 *ngIf="bookingDetails.creationTt">Date Of Booking : {{bookingDetails.creationTt | date:"dd/MM/YYYY"}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Personal Details</h4>
                                <p class="info"><span class="txt">Name</span> : &nbsp;&nbsp; {{bookingDetails.firstName}}&nbsp;{{bookingDetails.middleName}}&nbsp;{{bookingDetails.lastName}}</p>
                                <p class="info"><span class="txt">Fathers/Husband Name</span> : &nbsp;&nbsp; {{bookingDetails.fathersName}}</p>
                                <p class="info"><span class="txt">Permanent Details</span> : &nbsp;&nbsp; {{bookingDetails.permanentAddress}}</p>
                                <p class="info"><span class="txt">Correspondence Details</span> : &nbsp;&nbsp; {{bookingDetails.correspondenceAddress}}</p>
                                <p class="info"><span class="txt">City</span> : &nbsp;&nbsp; {{bookingDetails.city}}</p>
                                <p class="info"><span class="txt">State</span> : &nbsp;&nbsp; {{bookingDetails.state}}</p>
                                <p class="info"><span class="txt">Postal Code</span> : &nbsp;&nbsp; {{bookingDetails.postalCode}}</p>
                                <p class="info"><span class="txt">Date Of Birth</span> : &nbsp;&nbsp; {{bookingDetails.dateOfBirth | date: 'dd/MM/yyyy'}}</p>
                                <p class="info"><span class="txt">Email</span> : &nbsp;&nbsp; {{bookingDetails.emailId}}</p>
                                <p class="info"><span class="txt">Phone Number</span> : &nbsp;&nbsp; {{bookingDetails.mobileNumber}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Scheme Details</h4>
                                <p class="info"><span class="txt">Name Of The Scheme</span> : &nbsp;&nbsp; {{bookingDetails.schemeName}}</p>
                                <p class="info"><span class="txt">Total Cost</span> : &nbsp;&nbsp; {{bookingDetails.totalCostRS}}</p>
                                <p class="info"><span class="txt">Advance Rs.</span> : &nbsp;&nbsp; {{bookingDetails.advanceRS}}</p>
                                <p class="info"><span class="txt">Money Reveipt Number</span> : &nbsp;&nbsp; {{bookingDetails.moneyReceiptNumber}}</p>
                                <p class="info"><span class="txt">Plot Size</span> : &nbsp;&nbsp; {{bookingDetails.plotSize}}</p>
                                <p class="info"><span class="txt">Advance Date</span> : &nbsp;&nbsp; {{bookingDetails.bookingDate | date: 'dd/MM/yyyy'}}</p>
                                <p class="info"><span class="txt">Agrement Date</span> : &nbsp;&nbsp; {{bookingDetails.agreementDate}}</p>
                                <p class="info"><span class="txt">Introduced</span> : &nbsp;&nbsp; {{bookingDetails.introduced}}</p>
                                <p class="info"><span class="txt">Verified By</span> : &nbsp;&nbsp; {{bookingDetails.verifiedBy}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body all-icons">
                                <div class=" font-icon-detail">
                                    <h4 class="details">Installment segment</h4>
                                    <div class="row">
                                       <div class="col-md-2">
                                           <h5 class="txt">
                                               Date
                                           </h5>
                                       </div>
                                       <div class="col-md-2">
                                        <h5 class="txt">
                                            Amount
                                        </h5>
                                      </div>
                                    <div class="col-md-4">
                                        <h5 class="txt">
                                            mode of payment
                                        </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="txt">
                                            reference number
                                        </h5>
                                    </div>
                                    </div>

                                    <div *ngFor="let installment of installmentList" class="row">
                                        <div class="col-md-2">
                                            <p id="p1">
                                                {{installment.date |date: 'dd/MM/yyyy'}}
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                            <p id="p1">
                                                {{installment.amount}}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p id="p1">
                                                {{installment.modeOfPayment}}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p id="p1">
                                                {{installment.chequeNo}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink] ="['/booking/', bookingDetails.id]">Update</button>
                <button class=" btn btn-fill btn-danger delete" type="submit" (click)="delete()">Delete</button>
            </div>
            <!-- <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                    </div> -->
        </div>

        
    </div>
</div>
