<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <!-- <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css"> -->

    <!-- Main css -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body>

    <div class="main">
        
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../../../../assets/img/signin-image.jpg" alt="sing up image"></figure>
                        <!-- <a href="#" class="signup-image-link">Create an account</a> -->
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Log In</h2>
                        <form method="POST" class="register-form" id="login-form" [formGroup]="loginForm">
                            <div class="form-group">
                                <label for="your_name"><i class="fas fa-user"></i></label>
                                <input type="text" name="your_name" id="your_name" formControlName="username" placeholder="User Name"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="fas fa-key"></i></label>
                                <input #input type="password" name="your_pass" id="your_pass" placeholder="Password" formControlName="password" required/>
                               <span (click)="hidepass(input)"> <i class="fas fa-eye"  *ngIf = "showPassword"></i></span>
                               <span (click)="seepass(input)"> <i class="fas fa-eye-slash"  *ngIf = "!showPassword"></i></span>
                            </div>
                            <!-- <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div> -->

                            <!-- <input #input type="password" />
                            <button (click)="changeInput(input)">Change input</button> -->


                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin"  class="form-submit" value="Log in" (click)="signin()"/>
                                <!-- <input type="submit" name="signup" id="signin" routerLink="/signup" class="form-submit" value="Sign Up"/>      botton for redirect to sign up page       -->
                            </div>
                        </form>
                        <!-- <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                                <li><a href="#"><<i class="fas fa-envelope-square"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>