<div class=" content">
    <div class=" row">
        <div class=" col-md">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Court Expenses Form</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="courtForm">
                        <div class="container">
                            <div class="row info">
                                <!-- <h4 class="heading">Personal Information</h4> -->
                                <div class="col-12">
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group"
                                            >
                                                <label> Name Of Person </label>
                                                <input class=" form-control" formControlName="personName"
                                                    placeholder="Name" type="text" value="" autocomplete="off" />              
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Date </label>
                                                <input class=" form-control" formControlName="dateOfPayment"
                                                    placeholder="Date" type="date" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Amount </label>
                                                <input class=" form-control" formControlName="amount"
                                                    placeholder="Amount" type="text" value="" autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class=" col-md-4 pr-md-1">
                                            <div class=" form-group"
                                            >
                                                <label> Mode of Payment </label>
                                                <input class=" form-control" formControlName="moodOfPayment"
                                                    placeholder="Mood of payment" type="text" value="" autocomplete="off" />
                                                
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Purpose Of Payment </label>
                                                <input class=" form-control" formControlName="purposeOfPayment"
                                                    placeholder="purpose of payment" type="text" value="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class=" col-md-4 pl-md-1">
                                            <div class=" form-group">
                                                <label> Reference No. </label>
                                                <input class=" form-control" formControlName="referenceNo"
                                                    placeholder="Reference number" type="text" value="" autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <button class=" btn btn-fill btn-danger" *ngIf="!isUpdate" type="submit"
                                (click)="saveExpenses()">Submit</button>
                            <button class=" btn btn-fill btn-danger" *ngIf="isUpdate" type="submit"
                                (click)="plzconfirm()">Update</button>
                            <button class=" btn btn-fill btn-danger back" routerLink="/all-courtexpense" type="submit">Back</button>
                        </div>
