<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Detailed Court Expenses</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Details</h4>
                                <p class="info"><span class="txt">Name Of Person</span> :{{courtDetails.personName}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Date of Payment</span> :{{courtDetails.dateOfPayment | date  : "dd-MM-yyyy"}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Amount</span> : {{courtDetails.amount}}&nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Mode of payment</span> : {{courtDetails.moodOfPayment}}&nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Purpose Of Payment</span> :{{courtDetails.purposeOfPayment}} &nbsp;&nbsp; </p>
                                <p class="info"><span class="txt">Reference number</span> :{{courtDetails.referenceNo}} &nbsp;&nbsp; </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink]="['/courtexpenses/',courtDetails.id]">Update</button>
                <button class=" btn btn-fill btn-danger delete" (click)="plzconfirm()" type="submit">Delete</button>
            </div>
            <!-- <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                    </div> -->
        </div>
    </div>
</div>