.menue {
    font-size: 12px;
}

.dropdown-toggle{
    margin-left: 28px;
    background: transparent;
    color: #e0d6d6;
    font-size: 14px;
    font-weight: 300;
}

.far{
    margin-right: 22px;
    margin-left: -34px;
}
.fas fa-arrow-down{
    margin-left: 7px;
    margin-top: 5px;
}
.fa-chevron-down{
    margin-left: 60px;
    margin-top: 10px;
    color: #d0cbcb;
}
.fa-chevron-down:hover{
    color:white;
}
.btn-warning:hover{
    background-image: none !important;
    background-color: transparent !important;

}
.dropdown-menu show{
            left: 66px;
            margin-top: -4px;
        }