<div class="logo">
  <a  class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/sst-logo.png"/>
    </div>
  </a>
  <a  class="simple-text logo-normal">
    SST Developer 
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p class="menue">{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <div ngbDropdown>
    <button class="btn btn-warning" id="gfg" ngbDropdownToggle><i class="far fa-bookmark"></i>Expenses<i class="fas fa-chevron-down"></i></button>
    <div ngbDropdownMenu="gfg">
      <button ngbDropdownItem routerLink="/all-projectexpenses">Project Expenses</button>
      <button ngbDropdownItem routerLink="/all-salaryexpenses">Salary Expenses</button>
      <button ngbDropdownItem routerLink="/all-officeexpense">Office Expenses</button>
      <button ngbDropdownItem routerLink="/all-courtexpense">Court Expenses</button> 
    </div>
</div>
