<div class=" content">
  <h3 class="all">All Details</h3>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" routerLink="/all-booking">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <span class="material-icons book">
              description
              </span>
          </div>
          <p class="card-category">Bookings</p><br>
          <h3 class="card-title bookings">{{bookingCount}}</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" routerLink="/all-lands">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <span class="material-icons land">
              perm_identity
              </span>
          </div>
          <p class="card-category">Land Owner</p><br>
          <h3 class="card-title lands">{{landowner}}</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" routerLink="/all-lead">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <span class="material-icons lead">
              trending_up
              </span>
          </div>
          <p class="card-category">Leads</p><br>
          <h3 class="card-title alllead">{{lead}}</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" routerLink="/all-customers">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <span class="material-icons customer">
              groups
              </span>
          </div>
          <p class="card-category">Customers</p><br>
          <h3 class="card-title number">{{customer}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" routerLink="/all-user">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <span class="material-icons broker">
              switch_account
              </span>
          </div>
          <p class="card-category">Brokers</p><br>
          <h3 class="card-title med">{{brokers}}</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" routerLink="/all-user">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <span class="material-icons mediator">
              person_search
              </span>
          </div>
          <p class="card-category">Mediator</p><br>
          <h3 class="card-title med">{{brokers}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>