.card-icon {
    margin-top: -32px;
}
.book {
    padding: 15px ;
    background-color: #fe9d18 ;
    color: white ;
    font-size: 40px;
    border-radius: 3px;
    transition: transform .2s;
}

.book:hover {
  transform: scale(1.1);
}
.land {
    padding: 15px ;
    background-color: #e53371;
    color: white ;
    font-size: 40px;
    border-radius: 3px;
    transition: transform .2s;
}
.land:hover {
    transform: scale(1.1);
}
.lead {
    padding: 15px ;
    background-color: #59b15d ;
    color: white ;
    font-size: 40px;
    border-radius: 3px;
    transition: transform .2s;
}
.lead:hover {
    transform: scale(1.1);
}
.customer {
    padding: 15px ;
    background-color: #18bcd1 ;
    color: white ;
    font-size: 40px;
    border-radius: 3px;
    transition: transform .2s;
}
.customer:hover {
    transform: scale(1.1);
}
.broker {
    padding: 15px ;
    background-color: #4361ee ;
    color: white ;
    font-size: 40px;
    border-radius: 3px;
    transition: transform .2s;
}
.broker:hover {
    transform: scale(1.1);
}
.mediator {
    padding: 15px ;
    background-color: #ff6b35 ;
    color: white ;
    font-size: 40px;
    border-radius: 3px;
    transition: transform .2s;
}
.mediator:hover {
    transform: scale(1.1);
}
.card-category {
    float: right;
    font-size: 15px;
    color: #3c4858 !important;
    text-transform: uppercase;
    font-weight: 500 !important;
}
.card-title {
    float: right;
    color: #3c4858 !important;
    font-size: 30px;
}
.card-header {
    -webkit-box-shadow: 0px 2px 5px 2px #bbbbbb;
    cursor: pointer !important;
}
.all {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.row {
    margin-top: 20px;
}
.bookings {
    margin-top: 14px;
    margin-right: -55px;
}
.lands {
    margin-top: 14px;
    margin-right: -80px;
}
.alllead {
    margin-top: 14px;
    margin-right: -35px;
}
.number {
    margin-top: 14px;
    margin-right: -78px;
}
.broke {
    margin-top: 14px;
    margin-right: -48px;
}
.med {
    margin-top: 14px;
    margin-right: -60px;
}