<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <h4 class="db">Details Of Land Owner</h4>
            <h4>Land-Owner Creation Date : {{landDetails.creationTt | date:"dd/MM/YYYY"}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Personal Details</h4>
                                <p class="info"><span class="txt">Name</span> : &nbsp;&nbsp; {{landDetails.name}}</p>
                                <p class="info"><span class="txt">Fathers/Husband Name</span> : &nbsp;&nbsp; {{landDetails.fathersName}}</p>
                                <p class="info"><span class="txt">Permanent Address</span> : &nbsp;&nbsp; {{landDetails.permanentAddress}}</p>
                                <p class="info"><span class="txt">Correspondence Address</span> : &nbsp;&nbsp; {{landDetails.correspondenceAddress}}</p>
                                <p class="info"><span class="txt">Area</span> : &nbsp;&nbsp; {{landDetails.area}}</p>
                                <p class="info"><span class="txt">Postal Code</span> : &nbsp;&nbsp; {{landDetails.postalCode}}</p>
                                <p class="info"><span class="txt">Date Of Birth</span> : &nbsp;&nbsp; {{landDetails.dateOfBirth | date: 'dd/MM/yyyy'}}</p>
                                <p class="info"><span class="txt">Email</span> : &nbsp;&nbsp; {{landDetails.emailId}}</p>
                                <p class="info"><span class="txt">Phone Number</span> : &nbsp;&nbsp; {{landDetails.mobileNumber}}</p>
                                <p class="info"><span class="txt">Alternate Phone Number</span> : &nbsp;&nbsp; {{landDetails.alternateMobileNumber}}</p>
                                <p class="info"><span class="txt">Occupation</span> : &nbsp;&nbsp; {{landDetails.occupation}}</p>
                                <p class="info"><span class="txt">District</span> : &nbsp;&nbsp; {{landDetails.selectDistricts}}</p>
                                <p class="info"><span class="txt">Tahasil</span> : &nbsp;&nbsp; {{landDetails.selectTahasil}}</p>
                                <p class="info"><span class="txt">Village</span> : &nbsp;&nbsp; {{landDetails.selectVillage}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" card">
                        <div class=" card-body all-icons">
                            <div class=" font-icon-detail">
                                <h4 class="details">Land & Broker Details</h4>
                                <p class="info"><span class="txt">Land Plot No</span> : &nbsp;&nbsp; {{landDetails.landPlotNumber}}</p>
                                <p class="info"><span class="txt">Khata Number</span> : &nbsp;&nbsp; {{landDetails.khataNumber}}</p>
                                <p class="info"><span class="txt">Land Total Cost</span> : &nbsp;&nbsp; {{landDetails.landTotalCost}}</p>
                                <p class="info"><span class="txt">Advance Rs</span> : &nbsp;&nbsp; {{landDetails.advanceRupees}}</p>
                                <p class="info"><span class="txt">Monthly Schme</span> : &nbsp;&nbsp; {{landDetails.monthlyScheme}}</p>
                                <p class="info"><span class="txt">Booking Date</span> : &nbsp;&nbsp; {{landDetails.bookingDate | date: 'dd/MM/yyyy'}}</p>
                                <p class="info"><span class="txt">Agrement Date</span> : &nbsp;&nbsp; {{landDetails.agreementDate | date: 'dd/MM/yyyy'}}</p>
                                <p class="info"><span class="txt">Introduced</span> : &nbsp;&nbsp; {{landDetails.introduced}}</p>
                                <p class="info"><span class="txt">Verified By</span> : &nbsp;&nbsp; {{landDetails.verify}}</p>
                                <p class="info"><span class="txt">Khatiyan Number</span> : &nbsp;&nbsp; {{landDetails.khatiyanNumber}}</p>
                                <p class="info"><span class="txt">Broker Name</span> : &nbsp;&nbsp; {{landDetails.brokerName}}</p>
                                <p class="info"><span class="txt">Total Broker Commision</span> : &nbsp;&nbsp; {{landDetails.totalBrokerCommission}}</p>
                                <p class="info"><span class="txt">Advance Payment</span> : &nbsp;&nbsp; {{landDetails.advancePayment}}</p>
                                <p class="info"><span class="txt">Due Date</span> : &nbsp;&nbsp; {{landDetails.dueDate | date: 'dd/MM/yyyy'}}</p>
                                <p class="info"><span class="txt">Due Amount</span> : &nbsp;&nbsp; {{landDetails.dueAmount | date: 'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body all-icons">
                                <div class=" font-icon-detail">
                                    <h4 class="details">Land Installment segment</h4>
                                    <div class="row">
                                       <div class="col-md-2">
                                           <h5 class="txt">
                                               Date
                                           </h5>
                                       </div>
                                       <div class="col-md-2">
                                        <h5 class="txt">
                                            Amount
                                        </h5>
                                      </div>
                                    <div class="col-md-4">
                                        <h5 class="txt">
                                            mode of payment
                                        </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="txt">
                                            reference number
                                        </h5>
                                    </div>
                                    </div>

                                    <div *ngFor="let installment of installmentList" class="row">
                                        <div class="col-md-2">
                                            <p id="p1">
                                                {{installment.date}}
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                            <p id="p1">
                                                {{installment.amount}}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p id="p1">
                                                {{installment.modeOfPayment}}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p id="p1">
                                                {{installment.chequeNo}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body all-icons">
                                <div class=" font-icon-detail">
                                    <h4 class="details">Broker Commision segment</h4>
                                    <div class="row">
                                       <div class="col-md-2">
                                           <h5 class="txt">
                                               Date
                                           </h5>
                                       </div>
                                       <div class="col-md-2">
                                        <h5 class="txt">
                                            Amount
                                        </h5>
                                      </div>
                                    <div class="col-md-4">
                                        <h5 class="txt">
                                            mode of payment
                                        </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="txt">
                                            reference number
                                        </h5>
                                    </div>
                                    </div>

                                    <div *ngFor="let brokerinatallment of brokerinstallmentdetails" class="row">
                                        <div class="col-md-2">
                                            <p id="p1">
                                                   {{brokerinatallment.date}}
                                            </p>
                                        </div>
                                        <div class="col-md-2">
                                            <p id="p1">
                                                {{brokerinatallment.amount}}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p id="p1">
                                                {{brokerinatallment.modeOfPayment}}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p id="p1">
                                                {{brokerinatallment.chequeNo}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [routerLink] ="['/add-lands/', landDetails.id]">Update</button>
                <button class=" btn btn-fill btn-danger delete" type="submit" (click)="delete()">Delete</button>
            </div>
            <!-- <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" routerLink='/booking' type="submit">Booking</button>
                    </div> -->
        </div>
    </div>
</div>